.background {
  background-image: url(images/ibackground1.jpg);
  background-position: 50%;
}
.navbar {
  background-color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  margin-top: 45px;
}

.mslogo {
  position: absolute;
  margin-right: -80%;
}

.navbar a {
  margin-left: 40%;
  align-items: center;
  justify-content: center;
  font: 2em sans-serif;
  font-weight: bolder;
}
@media screen and (max-width: 600px) {
  .navbar a {
    margin-left: 20%;
    font: 1.3em sans-serif;
    font-weight: bolder;
  }
}

.boxes {
  padding:20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 10px;
  border: solid;
  border-style: solid;
  border-color: white;
  padding-left: 10px;
  color: gold;
}

h2 {
  padding-left: 10px;
  font: 1em sans-serif;
  color: rgb(224, 219, 219);
  text-shadow: 1px 1px black;
  font-weight: bolder;
  font-size: larger;
}
p {
  font: 1.5em sans-serif;
  font-weight: bolder;
}

input {
  margin: 5px;
  width: 65px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(208, 205, 205);
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  margin-left: 10px;
  font: 1em sans-serif;
  font-weight: bolder;
  background-image: linear-gradient(92.83deg, #ffed26 0, #f130c4 100%);
  margin-top: 10px;
  border: none;
}

.btn:hover {
  background-image: linear-gradient(92.83deg, #f9e503 0, #fd0776 100%);
}
